/* =============================== */
/*        ESTILOS GENERALES        */
/* =============================== */

body {
    background: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: url('/static/img/img1.png');
    background-size: cover;
    background-position: center;
    padding: 60px 10px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 62px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}



.contenedor {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}



.tarjeta {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

/* =============================== */
/*           FILTROS               */
/* =============================== */

.filtros {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.filtros select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-size: 14px;
}

/* =============================== */
/*             TABLAS              */
/* =============================== */

table.dataTable {
    width: 100%;
    border-collapse: collapse;
}

.tabla-simple {
    width: 100%;
    border-collapse: collapse;
}

.tabla-simple th,
.tabla-simple td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tabla-simple th {
    background: #f5f5f5;
    font-weight: bold;
}

/* =============================== */
/*             GRÁFICAS            */
/* =============================== */

.grafica {
    width: 70%;
    border-radius: 10px;
    margin-top: 10px;
}

/* =============================== */
/*           SECCIÓN ANÁLISIS      */
/* =============================== */

.analisis {
    margin-top: 15px;
    background: #f8f8f8;
    padding: 15px;
    border-left: 4px solid #4556e0;
    border-radius: 8px;
    font-size: 15px;
}

/* =============================== */
/*            FOOTER               */
/* =============================== */

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
