<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Análisis de Violencia de Género</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>

    <!-- HERO SECTION -->
   <!-- HERO CAROUSEL -->
<header class="hero-carousel">
    <div class="hero-slides">

        <!-- Slide 1 -->
        <div class="hero-slide" style="background-image: url('/static/img/img1.png');">
            <div class="hero-content">
                <br>
                <h1>Análisis de Violencia de Género</h1>
                <p>Observatorio de Datos – Municipio de Tunja</p>
                <a href="#intro" class="btn-primary">Conocer más</a>
            </div>
        </div>

        <!-- Slide 2 -->
<div class="hero-slide" style="background-image: url('/static/img/Ban2.png');"">
            <div class="hero-content">
                <h1>Comprender la Realidad</h1>
                <p>Exploramos factores, dinámicas y patrones para prevenir la violencia.</p>
                
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="hero-slide" style="background-image: url('/static/img/Ban3.png');">
            <div class="hero-content">
                <h1>Datos para la Acción</h1>
                <p>Información clara para fortalecer la prevención en el municipio.</p>
               
            </div>
        </div>

    </div>

    <button class="hero-nav prev">❮</button>
    <button class="hero-nav next">❯</button>
</header>


<section id="intro" class="intro-section">
    <div class="intro-text">
        <h2>¿Por qué analizar la violencia de género?</h2>
        <p>
            La comprensión de los patrones de violencia de género permite fortalecer las acciones de 
            prevención y apoyar políticas públicas basadas en evidencia. Este análisis identifica 
            tendencias por edad, zonas, tipos de violencia y relaciones entre víctima y agresor.
        </p>
        <p>
            La información presentada busca mejorar la toma de decisiones y visibilizar realidades en 
            el Municipio de Tunja.
        </p>
        <br>
<a href="/casos">
    <img src="/static/img/boton0.png" alt="Ir a casos" style="width:450px; height:auto;">
</a>

      
    </div>

    <div class="resources">
        <h3>Recursos utilizados</h3>
        <ul>
            <li><a href="https://www.datos.gov.co/Salud-y-Protecci-n-Social/Informaci-n-Violencia-de-g-nero-Municipio-de-Tunja/scei-6ce4/about_data" target="_blank">📁 Base de datos utilizada</a></li>
            <li><a href="https://drive.google.com/file/d/1GDrq3ozyitMSL8t1ttjgZwSyR9hv4cM1/view?usp=sharing" target="_blank">📄 PDF Metodología</a></li>
            <li><a href="https://www.scielo.cl/scielo.php?pid=S0250-71612023000200002&script=sci_arttext" target="_blank">📘 Documento adicional</a></li>
        </ul>
    </div>
</section>


<section class="hipotesis-section">
       <div class="hipo-container">
    <h2>Hipótesis de Análisis</h2>

    <div class="hipo-carousel">

    <button class="hipo-nav hipo-prev">❮</button>

    <div class="hipo-track">

        <div class="hipo-card">
            <div class="img-placeholder">
                <img src="/static/img/ImgVP.png" alt="">
            </div>
            <h3>Via Publica</h3>
            <p>La violencia que ocurre en la vía pública puede generar mayor sensación de inseguridad, 
                especialmente en zonas de transporte público, donde las mujeres pueden 
                sentirse más vulnerables.</p>
            <a class="btn-secondary" href="/via-publica">Ver análisis</a>
        </div>

        <div class="hipo-card">
            <div class="img-placeholder">
                <img src="/static/img/TiempoE.jpg" alt="">
            </div>
            <h3>Tiempo De Espera</h3>
            <p>El tiempo que tarda una víctima en denunciar depende de factores emocionales, 
                económicos y sociales que pueden retrasar o acelerar la búsqueda de ayuda.</p>
            <a class="btn-secondary" href="/tiempo-denuncia">Ver análisis</a>
        </div>

        <div class="hipo-card">
            <div class="img-placeholder">
                <img src="/static/img/image.png" alt="">
            </div>
            <h3>Relación Víctima–Agresor</h3>
            <p>La cercanía o lejanía entre víctima y agresor influye directamente en la severidad de la violencia</p>
            <a class="btn-secondary" href="/relacion-agresor">Ver análisis</a>
        </div>

        <div class="hipo-card">
            <div class="img-placeholder">
                <img src="/static/img/imEstrato.png" alt="">
            </div>
            <h3>Estrato en caso de Violencia</h3>
            <p>Los estratos socioeconómicos más bajos pueden presentar más casos de violencia debido a factores 
                como menor acceso a educación, dependencia económica</p>
            <a class="btn-secondary" href="/estrato">Ver análisis</a>
        </div>

        <div class="hipo-card">
            <div class="img-placeholder">
                <img src="/static/img/ImSpa.png" alt="">
            </div>
            <h3>Consumo Sustancia</h3>
            <p>El consumo de alcohol o drogas por parte del agresor o la víctima puede intensificar los episodios de violencia.</p>
            <a class="btn-secondary" href="/consumo">Ver análisis</a>
        </div>

    </div>

    <button class="hipo-nav hipo-next">❯</button>

</div>
</section>

<footer class="creditos">
    <p>Proyecto realizado por: Lady Castiblanco – Observatorio de Datos Tunja</p>
    <p>2025 </p>
</footer>





    <script src="/static/js/carrusel.js"></script>
</body>
</html>